/Ballot.class
/BallotsResults.class
/Candidate.class
/Citizen.class
/ElectionRound.class
/IDOutOfRange.class
/Main.class
/Menuable.class
/Party$Faction.class
/Party.class
/Set.class
/SickCandidate.class
/SickCitizen.class
/SickSoldier.class
/Sickable.class
/Soldier.class
/ageOutOfRange.class
